/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/


@use "uswds-core" with (
  // General
  $theme-show-notifications: false,

  // Typography
  $theme-font-role-heading: "sans",
  $theme-font-weight-semibold: 600,

  // Components
  $theme-banner-max-width: "desktop-lg",
  $theme-footer-max-width: "desktop-lg",
  $theme-header-max-width: "desktop-lg",
  $theme-header-min-width: "desktop",
  $theme-identifier-max-width: "desktop-lg",
  $theme-site-alert-max-width: "desktop-lg",
  $theme-breadcrumb-background-color: "base-lightest",
  $theme-breadcrumb-font-size: "3xs",

  // Spacing
  $theme-grid-container-max-width: "desktop-lg",
  $theme-site-margins-breakpoint: "desktop-lg",
);
