<li class="usa-collection__item border-0 ">
  <img class="usa-collection__img  opacity-30" alt="{{ member.first_name }} {{ member.last_name }}" src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0iY3VycmVudENvbG9yIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTE4IDE2VjJDMTggMC45IDE3LjEgMCAxNiAwSDJDMC45IDAgMCAwLjkgMCAyVjE2QzAgMTcuMSAwLjkgMTggMiAxOEgxNkMxNy4xIDE4IDE4IDE3LjEgMTggMTZaTTUuNSAxMC41TDggMTMuNTFMMTEuNSA5TDE2IDE1SDJMNS41IDEwLjVaIiBmaWxsPSJjdXJyZW50Q29sb3IiLz4KPC9zdmc+Cg==" />
      
  <div class="usa-collection__body">
    <h3 class="usa-collection__heading">
      <a
        class="usa-link font-heading-lg"
        href="/members/{{ member.id }}"
        >
          {{ member.first_name }}
          {{ member.last_name }}
        </a>
    </h3>
    <p class="usa-collection__description">
      {{ member.job_title }},
      {{ member.department }}

    </p>
    <ul class="usa-collection__meta" aria-label="More information">
      <li class="usa-collection__meta-item">
        <a href="mailto:{{member.email}}" class="usa-link">{{ member.email }}</a>
      </li>
      <li class="usa-collection__meta-item">
        {{ member.phone }}
      </li>
      <li class="usa-collection__meta-item">
        {{ member.location }}
      </li>    
    </ul>
  </div>
</li>