<footer class="usa-footer">
  <div class="usa-footer__primary-section padding-y-8">
    <div class="usa-footer__primary-container grid-row">
      <div class="grid-col-auto">
        <nav
          class="usa-identifier__section usa-identifier__section--required-links"
          aria-label="Important links"
        >
          <ul class="usa-identifier__required-links-list">
            {% for nav_item in site.footer_navigation %}
            <li class="usa-identifier__required-links-item">
              <a href="{{nav_item.url}}" class="text-primary">
                {{ nav_item.name }}</a
              >
            </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      <div class="desktop-lg:grid-col-4"></div>
    </div>
  </div>
  <div class="usa-footer__secondary-section border-top border-base">
    <div class="grid-container">
      <div
        class="usa-footer__logo grid-row grid-gap-2 text-center desktop:text-left"
      >
        <div class="grid-col-12 desktop:grid-col-auto">
          <img
            src="/node_modules/@uswds/uswds/dist/img/logo-img.png"
            class="maxw-6"
            alt="{{ site.title }}"
          />
        </div>
        <div class="grid-col-12 desktop:grid-col-fill">
          <p class="usa-footer__logo-heading font-sans-lg">{{ site.title }}</p>
        </div>
        <div class="grid-col-12 desktop:grid-col-auto">
          <ul
            class="add-list-reset display-flex desktop:display-inline-flex flex-justify-center margin-bottom-2 desktop:margin-bottom-0"
          >
            {% include 'socialmedia.html' %}
          </ul>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </div>
      </div>
    </div>
  </div>
</footer>
