<footer class="usa-footer site-footer ">
  <div class="usa-footer__secondary-section bg-gray-10">
    <div class="grid-container padding-bottom-2">
      <div class="grid-row">
        <div class="grid-col">
          <h2 class="margin-bottom-0">Participate in our community</h2>
          <p class="margin-top-0">Engage with others across government to share best practices and lessons learned</p>
        </div>
      </div>
      <div class="grid-row">
        <div class="tablet:grid-col margin-top-1">
          <div class="usa-media-block">
            <div class="usa-media-block__img circle-5 bg-blue display-flex flex-row flex-align-center flex-justify-center text-white">
              {% uswds_icon "groups" %}
            </div>
            <div class="usa-media-block__body">
              <h3 class="margin-0 font-sans-sm line-height-sans-2">
                Connect with other agencies
              </h3>
              <a href="" class="font-sans-xs">
                Join our workplace listserv
              </a>
            </div>
          </div>
        </div>
        <div class="tablet:grid-col margin-top-1">
          <div class="usa-media-block">
            <div class="usa-media-block__img circle-5 bg-blue display-flex flex-row flex-align-center flex-justify-center text-white">
              {% uswds_icon "mail" %}
            </div>
            <div class="usa-media-block__body">
              <h3 class="margin-0 font-sans-sm line-height-sans-2">
                Subscribe to our newsletter
              </h3>
              <a href="" class="font-sans-xs">
                Sign up to get workplace updates
              </a>
            </div>
          </div>
        </div>
        <div class="tablet:grid-col margin-top-1">
          <div class="usa-media-block">
            <div class="usa-media-block__img circle-5 bg-blue display-flex flex-row flex-align-center flex-justify-center text-white">
              {% uswds_icon "event" %}
            </div>
            <div class="usa-media-block__body">
              <h3 class="margin-0 font-sans-sm line-height-sans-2">
                Attend an upcoming event
              </h3>
              <a href="" class="font-sans-xs">
                Check out our client enrichment series
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
