{% if hero %}
  <section class="usa-hero padding-y-8" style="background-image: {% css_image_url hero.image %}">
    <div class="grid-container">
      {% if hero.heading %}
        <h1 class="usa-hero__heading font-serif-2xl">
          <span class="usa-hero__heading--alt">{{ hero.heading }}</span>
        </h1>
      {% endif %}
      {% if hero.callout %}
        <p class="tablet:grid-col-8">{{ hero.callout }}</p>
      {% endif %}
      {% if hero.action %}
        <a class="usa-button text-uppercase" href="{{ hero.action.href | url }}">{{ hero.action.text }}</a>
      {% endif %}
    </div>
  </section>
{% endif %}