<div class="tan-bg">
  {%- if site.alert and site.alert.enabled -%}
    {% include 'alert.html' %}
  {%- endif -%}
  <div class="grid-container margin-y-6">
    <h2 class="font-heading-xl text-primary">Featured topics</h2>
    <ul class="usa-card-group">
      {%- for t in topics -%}
        <li class="usa-card usa-card--flag desktop:grid-col-6">
          <div class="usa-card__container">
            <div class="usa-card__header">
              <h4 class="usa-card__heading">{{ t.title }}</h4>
            </div>
            <div class="usa-card__media add-aspect-1x1">
              <div class="usa-card__img">
                <img src="{{ t.img }}" alt="{{ t.alt }}">
              </div>
            </div>
            <div class="usa-card__body">
              <p>{{ t.body }}</p>
            </div>
            <div class="usa-card__footer">
              <a href="{{ t.url }}" class="usa-button">{{ t.buttontext }}</a>
            </div>
          </div>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
