{% assign navPages = collections.all | eleventyNavigation %}
{% assign currentUrl = page.url %}
{% assign currentSection = false %}

{%- for entry in navPages[0].children -%}
  {%- if entry.url and currentUrl contains entry.url -%}
    {%- assign currentSection = entry -%}
    {%- break -%}
  {%- endif -%}
{%- endfor -%}

<aside
  id="section-nav"
  class="usa-layout-docs-sidenav desktop:grid-col-3 padding-y-4"
>
  <nav>
    <div class="text-uppercase text-bold margin-left-2 margin-y-2 text-ls-2">In this section:</div>
    {%- if currentSection -%}
      <ul class="usa-sidenav">
        {%- for child in currentSection.children -%}
          <li class="usa-sidenav__item">
            <a
              href="{{ child.url }}"
              {%- if child.url == currentUrl -%}
                class="usa-current"
              {%- endif -%}
            >
              {{ child.title }}
            </a>
            {%- if child.children.size > 0 -%}
              <ul class="usa-sidenav__sublist">
                {%- for grandchild in child.children -%}
                  {%- unless grandchild.hideInSideNav -%}
                    <li class="usa-sidenav__item font-sans-2xs">
                      <a
                        href="{{ grandchild.url }}"
                        {%- if grandchild.url == currentUrl -%}
                          class="usa-current"
                        {%- endif -%}
                      >
                        {{ grandchild.title }}
                      </a>
                    </li>
                  {%- endunless -%}
                {%- endfor -%}
              </ul>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- else -%}
      <p>No navigation found for this section.</p>
    {%- endif -%}
  </nav>
</aside>
