{#
  A footer serves site visitors who arrive at the bottom of a page without
  finding what they want.

  https://designsystem.digital.gov/components/footer/
#}

<footer class="usa-footer usa-footer--slim">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="usa-footer__primary-section">
    <div class="usa-footer__primary-container grid-row">
      <div class="mobile-lg:grid-col-8">
        <nav class="usa-footer__nav" aria-label="Footer navigation,">
          <ul class="grid-row grid-gap">
            {% for link in site.footer.links %}
              <li
                class="
                  mobile-lg:grid-col-6
                  desktop:grid-col-auto
                  usa-footer__primary-content
                "
              >
                <a class="usa-footer__primary-link" href="{{ link.href }}"
                  >{{ link.text }}</a
                >
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
      <div class="mobile-lg:grid-col-4">
        <address class="usa-footer__address">
          <div class="grid-row grid-gap">
            {% for link in site.footer.contactLinks %}
              <div
                class="grid-col-auto mobile-lg:grid-col-12 desktop:grid-col-auto"
              >
                <div class="usa-footer__contact-info">
                  <a href="{{ link.href }}">{{ link.text }}</a>
                </div>
              </div>
            {% endfor %}
          </div>
        </address>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="usa-footer__logo grid-row grid-gap-2">
        <div class="grid-col-auto">
          <img class="usa-footer__logo-img" src="{{ site.footer.logo.image }}" alt="{{ site.footer.logo.alt }}" />
        </div>
        <div class="grid-col-auto">
          <p class="usa-footer__logo-heading">{{ site.footer.heading }}</p>
        </div>
      </div>
    </div>
  </div>
</footer>
