<footer class="usa-footer">
  <div class="usa-footer__secondary-section bg-gray-10">
    <div class="grid-container padding-bottom-2">
      <div class="grid-row">
        <div class="grid-col">
          <h2 class="margin-bottom-0">Participate in our community</h2>
          <p class="margin-top-0">Engage with others across government to share best practices and lessons learned</p>
        </div>
      </div>
      <div class="grid-row">
        {% for link in site.footer.links %}
          <div class="tablet:grid-col margin-top-1">
            <div class="usa-media-block">
              <div class="usa-media-block__img circle-5 bg-primary display-flex flex-row flex-align-center flex-justify-center text-white">
                <img src="{{ ['assets/uswds/img/usa-icons/', link.icon, '.svg'] | join }}" alt="" style="filter: invert(1);">
              </div>
              <div class="usa-media-block__body">
                <h3 class="margin-0 font-sans-sm line-height-sans-2">
                  {{ link.heading }}
                </h3>
                <a href="{{ link.href }}" class="font-sans-xs">
                  {{ link.text }}
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</footer>
