<div class="usa-overlay"></div>
<header class="usa-header usa-header--basic">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo" id="-logo">
        <img src="{{ site.logo }}" class="usa-logo__image">
        <em class="usa-logo__text"><a href="/" title="{{ site.title }}">{{ site.title }}</a></em>
      </div>
      <button type="button" class="usa-menu-btn">Menu</button>
    </div>
    <nav aria-label="Primary navigation" class="usa-nav">
      <button type="button" class="usa-nav__close">
        <img src="/assets/uswds/img/usa-icons/close.svg" role="img" alt="Close" />
      </button>
      {% set nav = collections.all | eleventyNavigation %}
      <ul class="usa-nav__primary usa-accordion">
        {% for entry in nav %}
          <li class="usa-nav__primary-item">
            {% if entry.children.length > 0 %}
              <button
                type="button"
                class="usa-accordion__button usa-nav__link usa-current"
                aria-expanded="false"
                aria-controls="basic-nav-section-{{ entry.key | slugify }}"
              >
                <span>{{ entry.title }}</span>
              </button>
              <ul id="basic-nav-section-{{ entry.key | slugify }}" class="usa-nav__submenu">
                {% for submenuEntry in entry.children %}
                  <li class="usa-nav__submenu-item">
                    <a href="{{ submenuEntry.url }}" class="{% if submenuEntry.url == page.url %}usa-current{% endif %}"><span>{{ submenuEntry.title }}</span></a>
                  </li>
                {% endfor %}
              </ul>
            {% else %}
              <a href="{{ entry.url }}" class="usa-nav-link {% if entry.url == page.url %}usa-current{% endif %}"><span>{{ entry.title }}</span></a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
      {% if site.header.search %}
        <section aria-label="Search component">
          <form class="usa-search usa-search--small" role="search">
            <label class="usa-sr-only" for="search-field">Search</label>
            <input
              class="usa-input"
              id="search-field"
              type="search"
              name="search"
            />
            <button class="usa-button" type="submit">
              <img
                src="/assets/uswds/img/usa-icons-bg/search--white.svg"
                class="usa-search__submit-icon"
                alt="Search"
              />
            </button>
          </form>
        </section>
      {% endif %}
    </nav>
  </div>
</header>
