<section class="usa-hero padding-y-8" style="background-image: url({{ hero.image | url }})">
  <div class="grid-container">
    {% if hero.heading %}
      <h1 class="usa-hero__heading">
        <span class="usa-hero__heading--alt" data-original-heading="{{ hero.original_heading }}">{{ hero.heading }}</span>
      </h1>
    {% endif %}
    {% if hero.callout %}
      <p class="tablet:grid-col-8">{{ hero.callout }}</p>
    {% endif %}
    {% if hero.action %}
      <a class="usa-button text-uppercase" href="{{ hero.action.href }}">{{ hero.action.text }}</a>
    {% endif %}
  </div>
</section>

<script src="/assets/js/hero.js"></script>
