{#
  The identifier communicates a site’s parent agency and displays agency links
  required by federal laws and policies.

  https://designsystem.digital.gov/components/identifier/
#}

<div class="usa-identifier">
  <section
    class="usa-identifier__section usa-identifier__section--masthead"
    aria-label="Agency identifier,"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__logos">
        <a href="/" class="usa-identifier__logo"
          ><img
            class="usa-identifier__logo-img"
            src="{{ site.identifier.logo.src }}"
            alt="{{ site.identifier.logo.alt }}"
            role="img"
        /></a>
      </div>
      <section
        class="usa-identifier__identity"
        aria-label="Agency description,"
      >
        <p class="usa-identifier__identity-domain">{{ site.identifier.domain }}</p>
        <p class="usa-identifier__identity-disclaimer">
          An official website of the <a href="{{ site.identifier.parentAgency.href }}">{{ site.identifier.parentAgency.text }}</a>
        </p>
      </section>
    </div>
  </section>
  <nav
    class="usa-identifier__section usa-identifier__section--required-links"
    aria-label="Important links,"
  >
    <div class="usa-identifier__container">
      <ul class="usa-identifier__required-links-list">
        {% for link in site.identifier.links %}
          <li class="usa-identifier__required-links-item">
            <a href="{{ link.href }}" class="usa-identifier__required-link usa-link"
              >{{ link.text }}</a
            >
          </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
  <section
    class="usa-identifier__section usa-identifier__section--usagov"
    aria-label="U.S. government information and services,"
  >
    <div class="usa-identifier__container">
      <div class="usa-identifier__usagov-description">
        Looking for U.S. government information and services?
      </div>
      <a href="https://www.usa.gov/" class="usa-link">Visit USA.gov</a>
    </div>
  </section>
</div>
