---
layout: layouts/base
inPageNav: true
breadcrumb:
  parent:
    text: Offerings
    href: /offerings/
---

<div class="grid-container">
  <div class="usa-in-page-nav-container">
    <aside class="usa-in-page-nav" data-title-text="{{ title }}"></aside>
    <main id="main-content">
      <div class="usa-prose">
        {{ content | safe }}
      </div>
    </main>
  </div>
</div>
