<!DOCTYPE html>
<meta charset="utf-8">
<title>Redirecting...</title>
<link rel="canonical" href="{{ redirect_to | url }}">
<meta http-equiv="refresh" content="0; url={{ redirect_to | url }}">
<h1>Redirecting...</h1>
<a href="{{ redirect_to | url }}">Click here if you are not redirected.</a>
<script>window.location.replace("{{ redirect_to | url }}");</script>