@use 'uswds-core' as * with (
  $theme-show-notifications: false,
  $theme-font-path: '../node_modules/@uswds/uswds/dist/fonts',
  $theme-image-path: '../node_modules/@uswds/uswds/dist/img',
  $theme-typeface-tokens: (
    inter: (
      display-name: "Inter",
      cap-height: 364px
    ),
    source-serif-pro: (
      display-name: "Source Serif Pro",
      cap-height: 364px
    )
  ),
  $theme-font-type-sans: "inter",
  $theme-font-type-serif: "source-serif-pro",
  $theme-font-sans-custom-stack: "Inter, sans-serif",
  $theme-font-serif-custom-stack: "Source Serif Pro, serif"
);

@forward 'uswds';

@import "../node_modules/@fontsource/inter/index.css";
@import "../node_modules/@fontsource/source-serif-pro/index.css";

// Navigation menu
.usa-header {
  background-color: black;
}

// Logo area
.usa-logo {
  margin-top: 0.7rem;
  margin-bottom: 0.4rem;
}

// Change navigation menu appearance only on desktop sizes and larger
@include at-media('desktop') {
  // Navigation link text
  .usa-nav__primary > .usa-nav__primary-item > a,
  .usa-nav__primary > .usa-nav__primary-item > a:hover,
  .usa-nav__primary > .usa-nav__primary-item > button,
  .usa-nav__primary > .usa-nav__primary-item > button:hover {
    color: white;
    text-transform: uppercase;
  }

  // Navigation link highlight bar under link text
  .usa-header--basic .usa-nav__primary-item > .usa-current::after,
  .usa-header--basic .usa-nav__link:hover::after {
    background-color: white;
  }

  // Navigation dropdown link arrow indicator
  .usa-nav__primary button[aria-expanded=false] span::after,
  .usa-nav__primary > .usa-nav__primary-item > button:hover span::after {
    background-color: white;
  }
}

// Remove the light border between the nav and the main content
.usa-navbar,
.usa-header + .usa-hero,
.usa-header + .usa-section,
.usa-header + main {
  border-top: none;
  border-bottom: none;
}

// Darken the hero image
.usa-hero {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom, black, black);
    opacity: 0.4;
  }
}
